.tron{
    text-align:center;
    color:blue;
}
.footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.submit{
    text-align:center;
}
.check{
    text-align:center;
}
.center{
    text-align:center;
}
.video{
    text-align:center;
}
.button{
    text-align:center;
}
.alern{
    text-align:center;
}